.Home {

    // 修改代辦內容區
    .EditContent {
        #myModal {
            color: red;

            .modal-dialog {

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .modal-content {
                    .modal-body {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .content {
                        margin: 0rem 1rem;
                        border: 1px solid black;
                    }

                    p {
                        text-align: center;
                    }

                    button {
                        padding: 1rem;
                        transition: 0.5s;

                        &:hover {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }


    .BackGroundImg {
        position: fixed;
        z-index: -1;
        object-fit: fill;
        height: 100%;
        width: 100%;

    }

    .HomeConianer {
        padding: 1rem;

        .MainTitle {
            background-color: blanchedalmond;
            width: 15rem;
            margin-top: 0.5rem;
            margin-left: auto;
            margin-right: auto;
        }


        .Left_Right_Main {
            display: flex;
            flex-wrap: wrap;

            .standby {
                margin: 1rem 1rem;
                display: inline-block;
                width: auto;
                height: 100%;
                background-color: white;
                flex: 1 1 400px;
                padding: 1rem 0rem;

                .checkBox {
                    width: 10%;
                }

                input {
                    color: white;
                    background-color: black;
                    width: 70%;
                    // height: 100v;
                    overflow-x: auto;
                }

                bottom {
                    width: 10%;
                }

            }

            .complete {
                flex: 1 1 400px;
                height: 100%;
                margin: 1rem 1rem;
                padding: 1rem 0rem;
                background-color: white;

                .checkbox {
                    width: 10%;
                }

                input {
                    color: white;
                    background-color: black;
                    width: 80%;
                }
            }
        }



        div {
            text-align: center;

            div.InputContainer {
                display: flex;

                #Input {
                    margin: 0rem 0.5rem;
                }

                .bi-plus-square-fill {
                    display: inline-block;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 643px) {

    .standby {
        h2 {
            margin-top: 1rem;
        }
    }

    .complete {
        h2 {
            margin-top: 1rem;
        }
    }


    .standby,
    .complete {
        width: 100%;
    }
}